.header {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;

  &--credits {
    width: auto;
    height: auto;
    position: relative;
  }
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  text-align: left;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: .5rem;
  border-radius: 6.25rem;
  border: 2px solid rgba(216, 227, 236, 0.5);
  background: rgba(216, 227, 236, 0.5);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25),
    inset 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  width: 35%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-167deg);
  z-index: 1000;
  pointer-events: all;

  @media screen and (max-width: 768px) {
    width: 50%;
    height: 10%;
    transform: translate(-50%, -50%) rotate(-167deg);
    padding: 1rem;
    border-radius: 4rem;
  }

  &--shown {
    transform: translate(-50%, 1rem);
    height: auto;
    width: 25%;
    background: rgba(11, 21, 48, 0.25);
    top: 0;
    border: 2px solid rgba(91, 106, 118, 0.5);
    position: fixed;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      border-radius: 0;
      padding: 1rem;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 2px solid rgba(91, 106, 118, 0.5);
    }

    // tablet

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      width: 50%;
    }

    .nav__container {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      width: 2rem;
      height: 2rem;
      position: relative;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 0.2rem;
        background-color: white;
        left: 0.25rem;
        transition: all 0.3s ease;
      }

      &::before {
        top: 0.5rem;
      }

      &::after {
        bottom: 0.5rem;
      }
    }
  }

  &__mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      transform: none;
      border-radius: 0;
      padding: 0.5rem;
      z-index: 1001;
      background: rgba(4, 7, 17, 0.75);
      backdrop-filter: blur(5px);
      transform: translateY(-100vh);
    }

    &-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 0.2rem;
        background-color: white;
        transition: all 0.3s ease;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &-ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      width: 100%;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: $text-color;
          font-size: $h1-size;
          width: 100%;
          text-align: center;
          display: inline-block;
          line-height: 100%;
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    opacity: 0;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    &--left {
      color: $text-color;
      font-weight: 700;
      font-size: $p-size;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      a {
        text-decoration: none;
        color: $text-color;
        opacity: 60%;
        transition: all 0.5s ease;

        &:hover {
          opacity: 100%;
        }
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  &__contact {
    padding: .25rem 2rem;
    border-radius: 3.125rem;
    border: 1px solid #35578a;
    background: #0b1530;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
    align-self: center;
    opacity: 1;
    text-align: center;

    @media screen and (max-width: 768px) {
      padding: 1rem 2rem;

    }

    &:hover {
      background: #1f397f;
      border: 1px solid #111e43;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    }
  }
}