.header {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 4px;
  border-radius: 6.25rem;
  border: 2px solid rgba(216, 227, 236, 0.5);
  background: rgba(216, 227, 236, 0.5);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25), 
              inset 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  width: 35%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-167.16deg);
  z-index: 1000;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    align-items: center;
    gap: 8px;
            
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__name {
    color: $text-color;
  }
  &__logo {
    height: 29px;
    width: 29px;
    background-color: $text-color;
    border-radius: 50px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      width: calc(29px * 2);
      padding: 0 8px;
      &::after {
        opacity: 1;
        transition: all 0.5s ease;
      }
    }
    &::after {
      content: "Gabriel";
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      // top: 0%;
      font-size: 0.875rem;
      color: #0b1530;
      // opacity: 0.8;
      opacity: 0;
      transition: all 0.5s ease;
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    li {
      a {
        text-decoration: none;
        color: $text-color;
        opacity: 60%;
        transition: all 0.5s ease;
        &:hover {
          opacity: 100%;
        }
      }
    }
  }
  &__middle {
    border-left: 1px solid $text-color;
    border-right: 1px solid $text-color;
    padding: 0 3rem;
    justify-self: center;
  }
  &__right {
    padding: 4px 16px;
    border-radius: 3.125rem;
    border: 1px solid #35578a;
    background: #0b1530;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
    justify-self: end;
    align-self: center;
    &:hover {
      background: #1f397f;
      border: 1px solid #111e43;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
