*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    width: 90vw;
    background: radial-gradient(75% 25% at 50% 100%, #082078 0%, hsl(224, 65%, 5%) 100%);
    border-radius: 64px;

    @media screen and (max-width: 768px) {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }
  }

  &__h1 {
    color: $text-color;
    font-size: $h1-size;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
    letter-spacing: -2%;
    margin: 0;
    margin-bottom: clamp(2rem, 1rem + 3.3333vw, 4rem);
    text-align: center;
    width: 80%;
  }

  &__span {
    background: linear-gradient(90deg, #72bce1 0%, #4d8ceb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $p-size;
  }
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @media screen and (max-width: 768px) {
    justify-content: flex-end;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 15vh;
    padding: 2rem;
    overflow: hidden;
    @include glass-container(64px, 2px, 20px, 2rem);

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 1rem;
    }
  }

  &__h2 {
    color: $text-color;
    font-size: $h2-size;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 2%;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  &__cards {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  &__card {
    min-width: 25vw;
    @include glass-container(48px, 2px, 10px, 1rem);
    background: rgba(43, 59, 73, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    color: $text-color;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      min-width: 50vw;
      height: auto;
    }

    @media screen and (max-width: 480px) {
      min-width: 90vw;
      width: 100%;
    }

    &-img {
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 32px;
      background-color: $text-color;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-h3,
    &-year {
      font-size: $h3-size;
      margin: 0;
      font-weight: 700;
      color: $text-color;
    }

    &-year {
      font-weight: 300;
    }

    &--top {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    &-links {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      a {
        white-space: nowrap;
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $text-color;
        font-size: $nav-size;
        transition: all 0.3s ease;
        @include glass-container(32px, 1px, 5px, 1rem, $box-shadow: false);
        background: rgba(33, 40, 46, 0.10);

        &:hover {
          background: rgba(33, 40, 46, 0.75);
        }
      }
    }
  }
}

.about {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding: 2rem;
    border-radius: 64px;
    border: 2px solid rgba(91, 106, 118, 0.5);
    background: #07203451;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25),
      inset 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    margin-top: -100px; // Adjust as needed
    margin-bottom: -100px; // Adjust as needed
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
      width: 90vw;
      padding: 1rem;
      margin-top: -50px; // Adjust for smaller screens
      margin-bottom: -50px; // Adjust for smaller screens
    }
  }
}