@import 'utils/variables';
@import 'utils/mixins';

@import 'components/type';
@import 'components/nav';
@import 'components/footer';

@import 'pages/home';
@import 'pages/credits';
@import 'pages/case';

body {
  background-color: #000;
  margin: 0;
  font-family: Lexend;
  font-feature-settings: "ss01" on;
}